.about-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 20px;
    /* border: 2px solid black; */
    border-radius: 21px;
    /* width: 300px; */
    padding: 10px;
    background-color: white;
    gap: 20px;
}

.xx{
    text-align: center;
    line-height: 40px;
}

.nn{
    display: flex;
    justify-content: center;
    align-items: center;
}